header{
    background-image: url(images/header.jpeg);
    width: 100%;
    height: 400px;
    color: #fff;
}

.title{
    display:block; 
    text-shadow:5px 5px 5px #333;
    text-align: center;
    margin: 10px auto;
}
h1{
   border-bottom: 5px solid aqua; 
   display: inline-block;
   margin: 0%;
}

.subTitle{
    font-size: 30px;
    font-weight: bolder;
    margin: 10px auto;
}
.secondTitle{
  font-size: 20px;
  margin:25px;  
}

nav{
    margin: 0 auto;
}
nav ul{
    display: flex;
    margin: 0;
    padding: 0;
 
}
nav ul li{
    display:block;
    margin: 10px auto;
    padding: 0 15px;
    list-style: none;
    cursor: pointer;
    font-size: 20px;
    border-bottom: 5px solid aqua; 
}
nav ul li a{
   color: #fff; 
}
.container{
    display: block;
    width: 80%;
    margin: 20px auto;
}
.containerText{
    margin: 10px;
}
.containerText h2{
    font-size: 20px;
}
.center{
   
    padding: 0 20px;
}
.containerText img{
  display: block;
  margin: 30px auto;

}
.about{
    background: black;
    color: #fff;
}
h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;  
}
.aboutContainer{
    display: block;
    width: 80%;
    margin: 0 auto;
}
.aboutContainer img{
    display: block;
    margin: 20px auto;
}
.aboutContainer dl{
    display: block;
    margin: 20px auto;
    max-width: 400px;
}
.aboutContainer dt{
    font-size: 20px;
    margin: 20px;
    text-align: center;
}
.aboutContainer dd{
    display: block;
    max-width: 400px;
}
.functionContainer{
    display: block;
    width: 80%;
    margin: 0 auto;
}
.functionContainer img{
    display: block;
    margin: 10px auto;
    max-width: 400px;
}
.functionContainer dl{
    display: block;
    margin: 20px auto;
    max-width: 400px;
}
.functionContainer dt{
    font-size: 20px;
    margin: 20px;
    text-align: center;
}
.functionContainer dd{
    display: block;
    max-width: 400px;
    margin: 20px auto;
}
.login p{
    display: block;
    margin: 10px auto;
}
.firstSentence{
    max-width: 400px;
}
.secondSentence{
    max-width: 300px;
}
.thirdSentence{
    text-align: center;
    
    cursor: pointer;
}

.login button{
    display: block;
    margin: 0 auto;
    text-align: center;
}

footer{
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 5px 5px 5px black;
    background: aqua;
    height: 50px;
    line-height: 2.5;
}

