header{
  background-image: url(images/header.png);
  width: 100%;
  height: 400px;
  color: #fff;
  text-align: center;
}


h1{
 border-bottom: 5px solid aqua; 
 margin: 0%;
 display: inline-block;
 margin-top: 180px;
}

header p{
  font-size: 30px;
  font-weight: bolder;
}
h2{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;  
}
.savingContainer{
  border: 1px solid #333;
  margin:  auto;
  padding: 50px;
  max-width: 600px;
}
.statusContainer{
  display: flex;
}
.statusfirst{
  border: 1px solid #333;
  padding: 20px;
  max-width: 300px;
}
.form-group{
  display: flex;
  justify-content: center;
  align-items: center;

}
.form-group label{
  line-height: 2.5;
}
.form-control{
  width: 200px;
  border: 0px;
  border-bottom: 1px solid#333;
}